<ion-view view-title="Login" id="background">
  <ion-content>
     <div class="center-block w-xxl w-auto-xs p-v-md">
    <div class="navbar">
      <div class="navbar-brand text-center">
        <span class="inline white">CHATT</span>
      </div>
    </div>

    <div class="p-lg panel md-whiteframe-z1 text-color m">
      <div class="m-b text-sm">
        Sign in with your CHATT Account
      </div>
      <form name="form">
        <div class="md-form-group float-label">
          <input type="text" class="md-input" ng-model="data.email" required>
          <label>Email</label>
        </div>
        <div class="md-form-group float-label">
          <input type="password" class="md-input" ng-model="data.password" required>
          <label>Password</label>
        </div>
        <button md-ink-ripple type="submit" class="md-btn md-raised pink btn-block p-h-md" ng-click="login()">SIGN IN</button>
        <h5 class="text-center">OR</h5>
        <button md-ink-ripple type="submit" class="md-btn md-raised blue btn-block p-h-md" ui-sref="register">SIGN UP</button>
      </form>
    </div>

    <div class="text-center">
      <button class="md-btn white" ng-click="verifyAccount()">Verify your account</button>
      <BR>
      <button class="md-btn white" ui-sref="resetPassword">RESET PASSWORD</button>
    </div>
    </div>
  </div>
  </ion-content>
</ion-view>